<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Play Videos - AnshumanPM</title>
    <link rel="icon" href="https://cdn.jsdelivr.net/gh/AnshumanPM/Assets-CDN/favicon.webp">
    <link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/AnshumanPM/Assets-CDN/StreamSite/style.css">
  </head>
  <body>
    <header>
      <a href="/">
        <img src="https://cdn.jsdelivr.net/gh/AnshumanPM/Assets-CDN/logo.webp" alt="logo" width="150px">
      </a>
    </header>
    <main>
      <div>
        <marquee>{{ file_name }}</marquee>
      </div>
      <div class="container">
        <center>
          <video id="player" playsinline controls data-poster="https://cdn.jsdelivr.net/npm/@googledrive/index@2.2.3/images/poster.jpg">
            <source src="{{ video_url }}" type="video/mp4">
            <source src="{{ video_url }}" type="video/webm">
          </video>
          <script src="https://cdn.plyr.io/3.7.8/plyr.js"></script>
          <script>
            const player = new Plyr('#player');
          </script>
          <br>
          <br>
          <div class="col-12 text-center">
            <button class="button-85 mb-3 mt-3" role="button">
              <a href="{{ video_url }}" style="text-decoration:none;color:#fff;font-weight:700;font-size:20px">Download Video</a>
            </button>
          </div>
          <br>
          <button type="button" class="btn btn-primary btn-rounded">
            <a href="intent:{{ video_url }}#Intent;package=com.mxtech.videoplayer.ad;end">
              <img src="https://cdn.jsdelivr.net/gh/AnshumanPM/Assets-CDN/StreamSite/mx_logo.png" alt="mx_logo" width="200px">
            </a>
          </button>
          <button type="button" class="btn btn-success btn-rounded">
            <a href="intent:{{ video_url }}#Intent;package=org.videolan.vlc;end">
              <img src="https://cdn.jsdelivr.net/gh/AnshumanPM/Assets-CDN/StreamSite/vlc_logo.png" alt="vlc_logo" width="200px">
            </a>
          </button>
          <button type="button" class="btn btn-danger btn-rounded">
            <a href="intent:{{ video_url }}#Intent;action=com.young.simple.player.playback_online;package=com.young.simple.player;end">
              <img src="https://cdn.jsdelivr.net/gh/AnshumanPM/Assets-CDN/StreamSite/splayer_logo.png" alt="s_player_logo" width="200px">
            </a>
          </button>
          <button type="button" class="btn btn-warning btn-rounded">
            <a href="intent:{{ video_url }}#Intent;package=com.playit.videoplayer;end">
              <img src="https://cdn.jsdelivr.net/gh/AnshumanPM/Assets-CDN/StreamSite/playit_logo.png" alt="playit_logo" width="200px">
            </a>
          </button>
        </center>
      </div>
    </main>
    <footer class="footer">
      <div class="container">
        <div class="text-muted">Made with ❤️ by <b>
            <a href="https://telegram.me/AnshumanPM_2006">𝑨𝒏𝒔𝒉𝒖𝒎𝒂𝒏𝑷𝑴 〄</a>
          </b>
        </div>
      </div>
    </footer>
  </body>
</html>
